.nav{
    background: white;
    display: flex;
    width: 100vw;
    height: 7.5vh;
    margin-bottom: 2vh;
}

.nav>h3{
    display: inline;
}

.NavUl{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 15vw;

}

.navLi{
    list-style-type: none;
    margin-right: 10vw;
}

.navLi>a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Cascadia Code';
    color: black;
}

.logoC{
    display: flex;
    align-items: center;
}

.logo{
    width: 6vh;
    height: 6vh;

}

.logoLink{
    display: flex;
    margin: 0 0 0 1vw;
    border-radius: 100px;
    text-decoration: none;
    font-size: larger;
}

.logoDesc{
    color: black;
}

.SearchFormdiv{
    display: block;
    align-items: center;
}

.search{
    display: inline-block;

}

/* On Hovers */

.navLink:hover{
    color: blue;
    transition-duration: 500ms;
    transition-delay: 50ms;
}

/* Media Queries */

@media only screen and (max-width: 1610px){
    .submit{
        display: none;
    }
}